<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Home</title>
</head>
<body>

<div th:include="components/navbar"></div>

<div class="container col-2">

    <form th:action="@{/login}" method="post" class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <div> Username: <input type="text" name="username" id="username" class="form-control" placeholder="Username" required="" autofocus="" autocomplete="off"/></div>
        <div>Password: <input type="password" name="password" id="password" class="form-control" placeholder="Password"required="" autocomplete="off"/></div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Sign In">Sign in</button>
    </form>

</div>

</body>
</html>